<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Welcome to our Church</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include service-times.html %}
        <!-- Two -->
        
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Who We Are</h2>
                </header>
                <p>{{ content }}</p>
            </div>
        </section>
        <section id="two" class="spotlights">
        <section>
            <a href="generic.html" class="image">
                <img src="{% link assets/images/pic09.jpg %}" alt="" data-position="top center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>MEET THE PASTOR</h3>
                    </header>
                    <p>
                        Before becoming a christian my life was filled with pain and regret. Having grown up in a Christian a home for all of my life, I knew very early of the consequences of living a sinful lifestyle. Unfortunately curiosity got the better of me and I decided to dabble in things that I thought would bring me fulfilment. Whether it was money, relationships, material possessions, or popularity. Each one of these things I tried and they all left me unfulfilled.

I remember getting to a low point in my life and crying out to God, to make Himself real to me, as He had done with my Parents and others I had known, and honestly I believe God heard me. Things started to change, habits that I had got broken, the regret and shame that I carried had left me, I literally felt like a new man.

Since becoming a christian I got married to my beautiful wife, I had the privilege of pastoring a church on the Sunshine Coast, for nearly 4 years. Now we have recently taken over the opportunity to Pastor the Ipswich congregation.

I am still amazed how God can take someone like me and do what He has done with my life. If He can do it for me, He can do it for you.</p>
<p>
''If any man be in Christ he is a new creation, old things have passed away, behold all things have become new''- 2 Corinthians 5:17

                    </p>
                </div>
            </div>
        </section>
            <section>
                <a href="generic.html" class="image">
                    <img src="{% link assets/images/pic08.jpg %}" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>GIVING</h3>
                        </header>
                        <h3>BSB: 084-929 </h3>

                        <h3>   ACC: 82-515-8339</h3>
                        
                    </div>
                </div>
            </section>
        </section>
    </div>

    {% include footer.html %}

</body>

</html>
